<div class="container-lang">
    <div class="logo">
        <a href="../index.html"><img src="../../../assets/media/images/Logo Telma.svg" alt=""></a>
    </div>

    <div class="container-card">
        <div class="text">
            <span>Selectionnez l'opération à effectuer</span>
        </div>
    
        <div class="container">
            <a routerLink="/choixtodo" style="cursor: pointer;">
                <div class="francais">
                    <div class="img">
                        <img src="../../../assets/media/images/Flag_of_France 1.png" alt="">
                    </div>
                    <span>{{ 'Identification' | translate }}</span>
                </div>
            </a>
            <a routerLink="/choixtodo" style="cursor: pointer;">
                <div class="anglais">
                    <div class="img">
                        <img src="../../../assets/media/images/Flag_of_English 1.png" alt="">
                    </div>
                    <span>{{ 'Achat de puce' | translate }}</span>
                </div>
            </a>
            <a routerLink="/choixtodo" style="cursor: pointer;">
                <div class="anglais">
                    <div class="img">
                        <img src="../../../assets/media/images/Flag_of_English 1.png" alt="">
                    </div>
                    <span>{{ 'Mobile Money' | translate }}</span>
                </div>
            </a>
        </div>

        <div class="buttoms">
            <div class="btn1">
                <a>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 15.75L3 12m0 0l3.75-3.75M3 12h18" />
                    </svg>
                    <span>Retour</span>
                </a>
            </div>
            <div class="btn2">
                <a href="./pages/checkbox.html">
                    <span>Valider</span>  
                    <span>
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3" />
                        </svg>                                   
                    </span>                            
                </a>
            </div>
        </div>

    </div>

    <footer>
        <div class="creator">
            <span>Telma © 2023 - Designed by Axon</span>
        </div>
        <div class="reseaux-sociaux">
            <span>REGOIGNEZ-NOUS SUR </span>
            <div class="images">
                <a href="#"><img src="../../../assets/media/images/facebook icon.png" alt=""></a>
                <a href="#"><img src="../../../assets/media/images/instagram icon.png" alt=""></a>
                <a href="#"><img src="../../../assets/media/images/youtube icon.png" alt=""></a>
            </div>
        </div>
    </footer>
</div>